.top-right {
    position: absolute;
    top: 35px;
    right: 3px;
    left:75px;
  }


  .top-right-2 {
    position: absolute;
    top: 95px;
    right: 10px;
  }

  .top-right-3 {
    position: absolute;
    top: 110px;
    right: 10px;
  }

  .top-right-4 {
    position: absolute;
    top: 125px;
    right: 10px;
  }

  .top-right-5 {
    position: absolute;
    top: 140px;
    right: 10px;
  }