
.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 250px;
  height: 100%;
  background: #343a40;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: #bdb8d7;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #594f8d;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}




.top-right {
    position: absolute;
    top: 35px;
    right: 3px;
    left:75px;
  }


  .top-right-2 {
    position: absolute;
    top: 95px;
    right: 10px;
  }

  .top-right-3 {
    position: absolute;
    top: 110px;
    right: 10px;
  }

  .top-right-4 {
    position: absolute;
    top: 125px;
    right: 10px;
  }

  .top-right-5 {
    position: absolute;
    top: 137px;
    right: 10px;
  }